.profile {
  max-width: 300px;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
  background-color: lch(100% 0.01 296.81);
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.avatar {
  width: 100px;
  border-radius: 50%;
  background-color: darkslategray;
}

.name {
  font-weight: bold;
  font-size: 20px;
  margin: 10px 0 5px;
}

.tag,
.location {
  color: gray;
  font-size: 14px;
  margin: 2px 0;
}

.stats {
  display: flex;
  background-color: #ecf2f8;
  border-top: 1px solid #b7b7b7;
  list-style: none;
  padding: 0;
  margin: 0;
}

.stats li {
  flex: 1;
  padding: 15px;
  border-right: 1px solid #b7b7b7;
}

.stats li:last-child {
  border-right: none;
}

.label {
  display: block;
  font-size: 12px;
  color: gray;
}

.quantity {
  font-weight: bold;
  margin-top: 5px;
}
